* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculater {
  border: 10px outset rgb(255, 208, 143);
  border-radius: 5px;
  padding: 3px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 145, 0);
}
.topic {
  margin-top: 10px;
  text-align: center;
  padding: 3px;
  text-shadow: 1px 1px 1px #c0c0c0;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 10px;
  font-weight: 900;
}
.FullDisplay {
  display: flex;
  flex-direction: column;
  border: inset 5px rgb(191, 105, 0);
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #d4d4d4;
}
input {
  border: none;
  text-align: end;
  height: 30px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 20px;
  justify-content: space-around;
  row-gap: 2px;
}
.button {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: outset 3px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  text-shadow: 1px 1px 1px #c0c0c0;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: ease-in 0.2s;
}

.button:active {
  border: inset;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-shadow: none;
}
.FullDisplay{
  display: flex;
  flex-direction: row;
}
.display1{
  width: 15px;
}
@media screen and (max-height: 410px) {
  body {
    background-color: rgb(95, 95, 95);
  }
  .calculater {
    border: 5px outset rgb(180, 180, 180);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(39, 39, 39, 0.9);
    background-color: rgb(255, 255, 255);
  }
  .FullDisplay {
    border: inset 4px rgb(197, 197, 197);
    border-radius: 15px;
    background-color: #ffffff;
  }
  .button {
    background-color: rgb(226, 226, 226);
    border: outset 2px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: ease-in 0s;
  }
}
